.snowflakes-onoff {
  position: fixed;
  display: block;
  right: 5%;
  bottom: 5%;
  width: 24px;
  height: 24px;
  background: url('../images/power.svg') no-repeat 50% 50%;
  background-size: contain;
  border: 0 none;
  cursor: pointer;
}
