{#
/**
 * @file
 * This is the snowflakes template file.
 *
 * There are no variables to work with, and 99% of all sites won't have the need to change the template at all.
 *
 * All credits go to Pavel Ševčík for his great work.
 * @see https://github.com/pajasevi/CSSnowflakes/blob/master/dev/snowflakes.html
 */
#}
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
</div>
